<div class="container" style="padding: 20px;">
  <div class="card">
    <div class="card-header">
      <strong>Sign Up</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input-group mb-3">
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">First Name</span>
            </div>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Last Name</span>
            </div>
            <input type="text" ng-model="fName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" ng-model="contactNo" class="form-control">
          </div>
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Retype Email</span>
            </div>
            <input type="text" ng-model="cnic" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input type="date" ng-model="fromDate" class="form-control">
          </div>
          <div class="col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Retype Password</span>
            </div>
            <input type="date" ng-model="toDate" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <button type="button" class="btn btn-outline-primary btn-block">Already Registered?</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-primary btn-block">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>