<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" routerLink="/home">Shopping Store</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fa fa-fw fa-bars"></i>
  </button>

</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li routerLinkActive #rla1="routerLinkActive" [ngClass]="rla1.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" routerLink="/home">
        <i class="fa fa-fw fa-home"></i>
        <span> Home</span>
      </a>
    </li>
    <li routerLinkActive #rla2="routerLinkActive" [ngClass]="rla2.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" routerLink="#">
        <i class="fa fa-fw fa-tachometer"></i>
        <span> MS Dashboard</span>
      </a>
    </li>
    <li routerLinkActive #rla3="routerLinkActive" [ngClass]="rla3.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-tachometer"></i>
        <span> Dashboard</span>
      </a>
    </li>
    <li routerLinkActive #rla4="routerLinkActive" [ngClass]="rla4.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-list-alt"></i>
        <span> EMR</span>
      </a>
    </li>
    <li routerLinkActive #rla5="routerLinkActive" [ngClass]="rla5.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" routerLink="/patient">
        <i class="fa fa-fw fa-male"></i>
        <span> Patient</span>
      </a>
    </li>
    <li routerLinkActive #rla6="routerLinkActive" [ngClass]="rla6.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-user"></i>
        <span> Admin</span>
      </a>
    </li>
    <li routerLinkActive #rla7="routerLinkActive" [ngClass]="rla7.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-thermometer"></i>
        <span> Operation Theater</span>
      </a>
    </li>
    <li routerLinkActive #rla8="routerLinkActive" [ngClass]="rla8.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span> Settings</span>
      </a>
    </li>
    <li routerLinkActive #rla9="routerLinkActive" [ngClass]="rla9.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-flag"></i>
        <span> Reports</span>
      </a>
    </li>
    <li routerLinkActive #rla10="routerLinkActive" [ngClass]="rla10.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-user"></i>
        <span> HR</span>
      </a>
    </li>
    <li routerLinkActive #rla11="routerLinkActive" [ngClass]="rla11.isActive ? 'nav-item active' : 'nav-item'">
      <a class="nav-link" href="">
        <i class="fa fa-fw fa-flag"></i>
        <span> AMS</span>
      </a>
    </li>




  </ul>

  <div id="content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Hospital Management 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
